@font-face {
    font-family:"Pubg Sans Regular";
    src:url("../fonts/PUBG_SANS.eot?") format("eot"),
    url("../fonts/PUBG_SANS.woff") format("woff"),
    url("../fonts/PUBG_SANS.ttf") format("truetype"),
    url("http://168.138.214.86/fonts/PUBG_SANS.svg#PubgSans-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'AlimamaFYT'; 
    src: url('../fonts/almmfyt.ttf') format('truetype');
}

body {
    font-family: 'AlimamaFYT', sans-serif;
    cursor: pointer;
    font-size: larger;
}

.right-menu {
    position: absolute;
    margin-top: 3.3vh;
    left: 21vw;
    right: 0;
    width: 70vw;
    font-size: 3vh;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: flex-start;
    align-items: first baseline;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
}

.right-submenu {
    position: absolute;
    margin-top: 7.5vh;
    left: 21.5vw;
    right: 0;
    width: 70vw;
    font-size: 2.5vh;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    justify-content: flex-start;
    align-items: first baseline;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
}

.right-submenu-item {
    margin: 0 0.5vw;
    color: gray;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.right-submenu-item.active{
    color: #e3b62f;
}

.right-submenu-item:hover {
    color: #e3b62f;
}

.right-menu-item {
    margin: 0 1vw;
    color: gray;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.right-menu-item.active{
    color: #e3b62f;
    border-bottom: #e3b62f solid 2px;
}

.right-menu-item:hover {
    color: #e3b62f;
}

.title-text {
    font-family: 'PUBG Sans Regular';
    text-shadow: #000 0.1em 0.1em 0.2em;
    color: white;
    font-size: 5vh;
    margin-top: 2vh;
    margin-left: 2vh;
    position: fixed;
}

.subtitle-text {
    font-family: 'PUBG Sans Regular';
    text-shadow: #000 0.1em 0.1em 0.2em;
    color: gray;
    font-size: 3vh;
    margin-top: 8vh;
    margin-left: 2vh;
    position: fixed;
}

.bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5vh;
    color: #fff;
    text-shadow: #000 0.1em 0.1em 0.2em;
}

.game-play-container {
    position: fixed;
    bottom: 0;
    padding: 0vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
}



/* Yellow button with borders */
.join-server-button {
    background-color: rgba(227, 182, 47, 0.5);
    /* border: 2px solid darkgray; */
    font-family: 'Agency';
    padding: 1vh 0vh 1vh 0vh;
    width: 20vh;
    color: #fff;
    font-size: 4vh;
    cursor: pointer;
    border: 2px solid rgba(227, 182, 47, 1);
    border-radius: 0px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.join-server-button:hover {
    background-color: rgba(227, 182, 47, 0.7);
    /* color: #FFF; */
}

/* 骞抽摵鏈嶅姟鍣ㄥ尯鍩熸寜閽  */
.join-server-container {    
    display: flex;
    padding: 0;
    margin-bottom: 0vh;
    width: 20vh;
    flex-direction: column;
    color: #fff;
    /* justify-content:space-between; */
}

.sel-server-button {
    font-family: 'Agency';
    margin-bottom: -0.25vh;
    font-size: 2vh;
    text-align: left;
    text-indent: 0.5vw;
    padding: 0.2vh 0vh 0.2vh 0vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: gray;
}

.sel-server-button.active {
    color: rgba(227, 182, 47, 1);
}

.side-container {
    position: fixed;
    left: 75vw;
    bottom: 2vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.discord-card {
    background: rgba(108, 69, 147, 0.5);
    border-left: 10px solid rgb(255, 255, 255);
    padding: 2vh;
}

.discord-card > .title {
    font-size: 3vh;
    padding: 1vh;
    color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: left center;
    align-items: safe center;
}

.discord-card > .content {
    font-size: 2vh;
    padding: 1vh;
    color: #fff;
    z-index: 9999;
}

.discord-card:hover {
    color: rgb(38, 30, 45);
}

.discord-icon-bg {
    width: 5vh;
    padding-bottom: 1vh;
    color: #563d5f;
}

.radio-button:hover {
    color: #FFC107;
}

.radio-button:checked {
    color: #FFC107;
}



.hide {
    display: none;
}

.debug-text {
    position: fixed;
    bottom: 50vh;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5vh;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.363);
    text-shadow: #000 0.1em 0.1em 0.2em;
}

.serial-text {
    position: fixed;
    bottom: 3vh;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5vh;
    color: rgba(255, 255, 255, 0.5)
}



.player-info-container {
    font-family: 'Overpass-Reg', sans-serif;
    position: fixed;
    left: 1.5vw;
    top: 16vh;
    width: 10vw;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.user-info {
    padding-left: 1vw;
    padding-top: -2vh;
    color: #fff;
}

.bp-info {
    font-family: 'Agency';
    padding-top: 0.1vh;
}

.bp-info > strong {
    color: #FFC107;
    padding-right: 0.5vw;
}

.player-count {
    padding-left: 1vh;
    font-size: 2vh;
}